@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    background-color: #000;
    font-family: "Poppins", sans-serif;
}
.heading{
    font-size: 27px;
    width: 85%;
    max-width: 900px;
    text-align: center;
    margin: 4% auto 0 auto;
    padding: 0 20px 12px 20px;
    color: #fff;
    text-shadow: 0 0 7px #d30302, 0 0 10px #d30302, 0 0 21px #d30302, 0 0 42px #fe4f5e, 0 0 82px #fd4d5d, 0 0 92px #ff5161, 0 0 0px #ff7985, 0 0 2px #ff5161;
    line-height: 49px;
}

p{
    color: #fff;
    text-shadow: 0 0 7px #d30302, 0 0 10px #d30302, 0 0 21px #d30302, 0 0 42px #fe4f5e, 0 0 82px #fd4d5d, 0 0 92px #ff5161, 0 0 0px #ff7985, 0 0 2px #ff5161;
    text-align: center;
    margin-top: 30px;
    padding: 0 20px;
}
#result{
    display: none;
    margin: 45px auto -20px;
}
.container{
    margin: 60px auto 50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 20px;
    width: 350px;
    height: 350px;
    max-width: 90%;
}
.block{
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 7px #000000, 0 0 10px #dbcccc, 0 0 21px #ffffff, 0 0 42px #ffffff, 0 0 82px #ffffff, 0 0 92px #ffffff, 0 0 0px #ffffff, 0 0 2px #ffffff;
    background-color: #D30302;
    max-width: 100px;
    display: grid;
    place-items: center;
    font-size: 50px;
    border: 5px solid #FF5161;
    box-shadow: 0 0 14px 3px #D30302, inset 0 0 50px 0 #D30302;
    border-radius: 10%;
}
.alert{
    animation: shake 0.5s;
    -webkit-animation: shake 0.5s;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  .reset_btn{
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    background-color: #D30302;
    color: #fff;
    border: 5px solid #FF5161;
    box-shadow: 0 0 14px 3px #D30302, inset 0 0 50px 0 #D30302;
    border-radius: 10%;
  }